.tabs {
  display: flex;
  justify-content: space-between;
  ion-text {
    padding-bottom: 12px;
    color: #444;
    position: relative;
    &.active {
      color: #679186;
      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background-color: #679186;
        content: '';
      }
    }

  }
}
