<div class='timer-wrapper'>
  <div class='timer'>
    <ngx-gauge type='full' cap='round' size='180' thick='10' [value]='gaugePercent'>
      <ngx-gauge-label>
        <img src='assets/teacup.svg' alt=''>
        </ngx-gauge-label>
    </ngx-gauge>
    <ion-text *ngIf='timerIsCompleted' class='ion-text-center'>Your tea is ready!</ion-text>
    <p class='time-display'>{{ brewingTime }}</p>
  </div>

  <div class='actions'>
    <ng-container *ngIf='!timerIsOn'>
      <ion-button color='primary' shape='round' size='large' (click)='startTimer(currentTea.brewTime)'>
        Start brewing
        <ion-icon slot='end' name="cafe-outline"></ion-icon>
      </ion-button>
    </ng-container>
    <ng-container *ngIf='timerIsOn'>
      <ion-button color='danger' shape='round' size='large' (click)='resetTimer()'>
        Reset timer
        <ion-icon slot='end' name="close-circle-outline"></ion-icon>
      </ion-button>
    </ng-container>

    <ion-button shape='round' fill='outline' size='large' (click)='goToCustomize()'>
      Customize my timer
      <ion-icon slot='end' name="time-outline"></ion-icon>
    </ion-button>
  </div>
</div>


