<div class='timer-wrapper'>
  <app-timercountdown [currentTea]='currentTea' [timerIsOn]='timerIsOn'></app-timercountdown>

  <div class='actions'>
    <ng-container *ngIf='!timerIsOn'>
      <ion-button color='primary' shape='round' size='large' (click)='startTimer()'>
        Start brewing
      </ion-button>
    </ng-container>
    <ng-container *ngIf='timerIsOn'>
      <ion-button color='danger' shape='round' size='large' (click)='resetTimer()'>
        Reset timer
      </ion-button>
    </ng-container>
    <ion-button shape='round' fill='outline' size='large' (click)='goToCustomize()' [disabled]='timerIsOn'>
      Customize my timer
    </ion-button>
  </div>
</div>


