small {
  color: red;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem 2rem 2rem;
}

.actions {
  width: 70%;
  margin: auto;
  ion-button {
    width: 100%;
    font-size: 16px;
  }
}
