ion-header {
  h2 {
    margin: 16px;
  }
}

.tabs {
  padding: 40px 20px 0 20px;
  border-bottom: 1px solid #ccc;
}

.timer-inner{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
