<ion-header class="ion-no-border">
  <ion-toolbar class='ion-no-padding'>
    <div class='tabs'>
      <ion-text (click)='chooseTea("green")' [class.active]="currentTab === 'green'" [class.disable]='disableTab'>Green</ion-text>
      <ion-text (click)='chooseTea("oolong")'[class.active]="currentTab === 'oolong'" [class.disable]='disableTab'>Oolong</ion-text>
      <ion-text (click)='chooseTea("red")' [class.active]="currentTab === 'red'" [class.disable]='disableTab'>Red</ion-text>
      <ion-text (click)='chooseTea("puer")' [class.active]="currentTab === 'puer'" [class.disable]='disableTab'>Pu-er</ion-text>
      <ion-text (click)='chooseTea("herbal")' [class.active]="currentTab === 'herbal'" [class.disable]='disableTab'>Herbal</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class='timer-inner'>
    <app-brewguide [currentTea]='currentTea'></app-brewguide>
    <app-brewtimer [currentTea]='currentTea'></app-brewtimer>
  </div>
</ion-content>
