<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Make a tea</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" color="primary">
    <ion-segment-button value="green">
      <ion-label>Green Tea</ion-label>
    </ion-segment-button>
    <ion-segment-button value="black">
      <ion-label>Black Tea</ion-label>
    </ion-segment-button>
    <ion-segment-button value="herbal">
      <ion-label>Herbal Tea</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content [fullscreen]="true">


  <!-- brewing-guide -->
  <!-- ion-timer-component clock + digial / import to use here-->

</ion-content>
