<ion-header class="ion-no-border">
  <ion-toolbar class='ion-no-padding'>
    <div class='tabs'>
      <ion-text (click)='chooseTea("green")' [ngClass]="{'active': currentTab === 'green'}">Green</ion-text>
      <ion-text (click)='chooseTea("oolong")'[ngClass]="{'active': currentTab === 'oolong'}">Oolong</ion-text>
      <ion-text (click)='chooseTea("red")' [ngClass]="{'active': currentTab === 'red'}">Red</ion-text>
      <ion-text (click)='chooseTea("puer")' [ngClass]="{'active': currentTab === 'puer'}">Pu-er</ion-text>
      <ion-text (click)='chooseTea("herbal")' [ngClass]="{'active': currentTab === 'herbal'}">Herbal</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class='timer-inner'>
    <app-brewguide [currentTea]='currentTea'></app-brewguide>
    <app-brewtimer [currentTea]='currentTea'></app-brewtimer>
  </div>
</ion-content>
